@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: 'Poppins', sans-serif;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* Scroll thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  #a8a8a8; /* Scroll thumb hover color */
}
